Startup Game Plan with the proposed levels

1.Exporters:
	:<gradle-key>
	:<gradle-key>
2.Services and APIs:
	:<gradle-key>
3.Plugins:
	:<gradle-key>
4.Fragment-Hosts:
	:<gradle-key>
5.Others (including themes):
	:<gradle-key>
